html {
    text-align: center;
}
.container {
    border: 6px solid black;
    text-align: center
}

.buttonClass{
    outline: none;
    background-color: lightgrey;
    margin: 20px;
    border-radius: 50%;
    width: 30%;
    height: 300px;
    border-style: outset;
    font: bold 50px arial, sans-serif;
}

.buttonClass:hover{
    background-color: gold;
}

table {
    display: inline-block;
}

.active{
    background-color: lightblue;
} 